.GrouperF{
 color:red;
 overflow: auto;
}
.info{
    width: 70%;
    overflow: auto;
}
.BAB{
    font-family: sans-serif;
}
.photo-gallery{
    background-color: aquamarine
    ;
}
.photo{
    margin: 20px;
}
#planet {
    top: 0;
    left: 0;
    position: absolute;
}

#creature {
    width: 100px;
    top: 100px;
    left: 100px; 
    position: absolute;
}

#greeting {
    margin-top: 30px;
    text-align: center;
    font-family: sans-serif;
}

#cloud-pic{
    float: left;
    margin-right:20px ;
 
}

