<div class='wrapper'>

    <div class='card'>

        <img class='card-img' src='https://resources.cdn-kaspi.kz/img/m/p/h2c/h76/86261118500894.jpg?format=preview-large'>

        <div class='card-title'>Черний чихол</div>

        <div class='card-sub'>
            Черний чихол для ипхон 15
        </div>
        <p>Rating 8/10</p>
<div class="row-card">
    <div class='btn-keeper'>
        <a class='btn' href='https://t.me/SHOQANxJAN'>Купить</a>
    </div>
    <div class='btn-keeper'>
        <a class='btn' href='https://kaspi.kz/shop/p/dlja-apple-iphone-11-chernyi-106411569/?c=750000000'>чекнуть</a>
    </div>
</div>   
        


    </div>


    <div class='card'>

        <img class='card-img' src='https://resources.cdn-kaspi.kz/img/m/p/h5f/h9e/86261130854430.jpg?format=preview-large'>

        <div class='card-title'>празрачний чихол</div>

        <div class='card-sub'>
            празрачний чихол для ипхон адинадцать с кармашкэм зади
        </div>
        <p>Rating 5/10</p>
<div class="row-card">
    <div class='btn-keeper'>
        <a class='btn' href='https://t.me/SHOQANxJAN'>Купить</a>
    </div>
    <div class='btn-keeper'>
        <a class='btn' href='https://kaspi.kz/shop/p/dlja-apple-iphone-11-prozrachnyi-106882555/?c=750000000'>чекнуть</a>
    </div>
</div>   
        


    </div>




    <div class='card'>

        <img class='card-img' src='https://resources.cdn-kaspi.kz/img/m/p/h1b/hd6/64377056231454.jpg?format=preview-large'>

        <div class='card-title'>Зарядка</div>

        <div class='card-sub'>
            заряжает классно
        </div>
        <p>Rating 9/10</p>
<div class="row-card">
    <div class='btn-keeper'>
        <a class='btn' href='https://t.me/SHOQANxJAN'>Купить</a>
    </div>
    <div class='btn-keeper'>
        <a class='btn' href='https://kaspi.kz/shop/p/apple-mhje3zm-20w-usb-type-c-belyi-124252282/?c=750000000'>чекап</a>
    </div>
</div>   
        


    </div>




    <div class='card'>

        <img class='card-img' src='https://resources.cdn-kaspi.kz/img/m/p/h15/h17/83752250638366.jpg?format=gallery-medium'>

        <div class='card-title'>прозрачный чехол</div>

        <div class='card-sub'>
            Еще один прозрачный чехол
        </div>
        <p>Rating 1/10</p>
<div class="row-card">
    <div class='btn-keeper'>
        <a class='btn' href='https://t.me/SHOQANxJAN'>Купить</a>
    </div>
    <div class='btn-keeper'>
        <a class='btn' href='https://kaspi.kz/shop/p/dlja-apple-iphone-15-prozrachnyi-113295868/?c=750000000'>чек</a>
    </div>
</div>   
        


    </div>




    <div class='card'>

        <img class='card-img' src='https://resources.cdn-kaspi.kz/img/m/p/h99/hca/64453492637726.jpg?format=gallery-medium'>

        <div class='card-title'>Iphone 11pro</div>

        <div class='card-sub'>
            айфон 11 про с черным стеклом
        </div>
        <p>Rating 10/10</p>
<div class="row-card">
    <div class='btn-keeper'>
        <a class='btn' href='https://t.me/SHOQANxJAN'>Купить</a>
    </div>
    <div class='btn-keeper'>
        <a class='btn' href='https://resources.cdn-kaspi.kz/img/m/p/h99/hca/64453492637726.jpg?format=gallery-medium'>Check</a>
    </div>
</div>   
        


    </div>


    <div class='card'>

        <img class='card-img' src='https://resources.cdn-kaspi.kz/img/m/p/h62/h41/84080191602718.jpg?format=gallery-medium'>

        <div class='card-title'>шпионное стекло</div>

        <div class='card-sub'>
            непозволяет видить другим ваши переписки
        </div>
        <p>Rating 7/10</p>
<div class="row-card">
    <div class='btn-keeper'>
        <a class='btn' href='https://t.me/SHOQANxJAN'>Купить</a>
    </div>
    <div class='btn-keeper'>
        <a class='btn' href='https://kaspi.kz/shop/p/steklo-dlja-apple-iphone-15-pro-max-113603016/?c=750000000'>каспий</a>
    </div>
</div>   
        


    </div>




    <div class='card'>

        <img class='card-img' src='https://resources.cdn-kaspi.kz/img/m/p/hb8/hba/64320105709598.jpg?format=gallery-medium'>

        <div class='card-title'>черный WLAN кабель</div>

        <div class='card-sub'>
          для выхода в интернет нужен черный кабель)
        </div>
        <p>Rating 4/10</p>
<div class="row-card">
    <div class='btn-keeper'>
        <a class='btn' href='https://t.me/SHOQANxJAN'>Купить</a>
    </div>
    <div class='btn-keeper'>
        <a class='btn' href='https://kaspi.kz/shop/p/kabel-ugreen-rj-45---rj-45-10-m-20164-103346192/?c=750000000'>buy</a>
    </div>
</div>   
        


    </div>



    <div class='card'>

        <img class='card-img' src='https://resources.cdn-kaspi.kz/img/m/p/hc9/h18/63760532275230.jpg?format=gallery-medium'>

        <div class='card-title'>вай-фай роутер</div>

        <div class='card-sub'>
            роутер для wi-Fi
        </div>
        <p>Rating 10/10</p>
<div class="row-card">
    <div class='btn-keeper'>
        <a class='btn' href='https://t.me/SHOQANxJAN'>Купить</a>
    </div>
    <div class='btn-keeper'>
        <a class='btn' href='https://kaspi.kz/shop/p/wi-fi-router-tp-link-td-w8961n-7600132/?c=750000000'>kaspi</a>
    </div>
</div>   
        


    </div>


    <div class='card'>

        <img class='card-img' src='https://resources.cdn-kaspi.kz/img/m/p/hfd/hab/64169205792798.jpg?format=gallery-medium'>

        <div class='card-title'>вайфай модем улучшенный</div>

        <div class='card-sub'>
            делает все лучше и на высоком качестве
        </div>
        <p>Rating 10/10</p>
<div class="row-card">
    <div class='btn-keeper'>
        <a class='btn' href='https://t.me/SHOQANxJAN'>Купить</a>
    </div>
    <div class='btn-keeper'>
        <a class='btn' href='https://kaspi.kz/shop/p/wi-fi-router-tp-link-archer-c64-102399103/?c=750000000'>проверить</a>
    </div>
</div>   
        


    </div>



    <div class='card'>

        <img class='card-img' src='https://resources.cdn-kaspi.kz/img/m/p/hfb/h9f/65094363021342.jpg?format=gallery-medium'>

        <div class='card-title'>черный рюкзак</div>

        <div class='card-sub'>
            Удобный рюкзак, вместительный
        </div>
        <p>Rating 8/10</p>
<div class="row-card">
    <div class='btn-keeper'>
        <a class='btn' href='https://t.me/SHOQANxJAN'>Купить</a>
    </div>
    <div class='btn-keeper'>
        <a class='btn' href='https://kaspi.kz/shop/p/rjukzak-oem-102011-141217-chernyi-107354519/?c=750000000'>чек</a>
    </div>
</div>   
        


    </div>



</div>